<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${orderAudit.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${orderAudit.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">抢单订单id：</label>
								<div class="col-sm-8">
									<input id="robOrderId" name="robOrderId" th:value="${orderAudit.robOrderId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核状态：</label>
								<div class="col-sm-8">
									<input id="auditStatus" name="auditStatus" th:value="${orderAudit.auditStatus}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核人ID：</label>
								<div class="col-sm-8">
									<input id="auditUserId" name="auditUserId" th:value="${orderAudit.auditUserId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核人：</label>
								<div class="col-sm-8">
									<input id="auditName" name="auditName" th:value="${orderAudit.auditName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建日期：</label>
								<div class="col-sm-8">
									<input id="createDate" name="createDate" th:value="${orderAudit.createDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改日期：</label>
								<div class="col-sm-8">
									<input id="modifyDate" name="modifyDate" th:value="${orderAudit.modifyDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核--驳回原因：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" th:value="${orderAudit.remark}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/niu/orderAudit/edit.js">
	</script>
</body>
</html>
