<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irevest.niu.dao.InfoDao">

	<select id="get" resultType="com.irevest.niu.domain.InfoDO">
		select `id`,`user_phoneno`,`user_sex`,`user_birthday`,`user_image`,`user_name`,`password`,`user_wxno`,`user_role`,`create_date`,`user_status`,`modify_date`,`remark` from user_info where id = #{value}
	</select>

	<select id="list" resultType="com.irevest.niu.domain.InfoDO">
		select `id`,`user_phoneno`,`user_sex`,`user_birthday`,`user_image`,`user_name`,`password`,`user_wxno`,`user_role`,`create_date`,`user_status`,`modify_date`,`remark` from user_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userPhoneno != null and userPhoneno != ''"> and user_phoneno = #{userPhoneno} </if>
		  		  <if test="userSex != null and userSex != ''"> and user_sex = #{userSex} </if>
		  		  <if test="userBirthday != null and userBirthday != ''"> and user_birthday = #{userBirthday} </if>
		  		  <if test="userImage != null and userImage != ''"> and user_image = #{userImage} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="userWxno != null and userWxno != ''"> and user_wxno = #{userWxno} </if>
		  		  <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="userStatus != null and userStatus != ''"> and user_status = #{userStatus} </if>
		  		  <if test="modifyDate != null and modifyDate != ''"> and modify_date = #{modifyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from user_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userPhoneno != null and userPhoneno != ''"> and user_phoneno = #{userPhoneno} </if>
		  		  <if test="userSex != null and userSex != ''"> and user_sex = #{userSex} </if>
		  		  <if test="userBirthday != null and userBirthday != ''"> and user_birthday = #{userBirthday} </if>
		  		  <if test="userImage != null and userImage != ''"> and user_image = #{userImage} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="userWxno != null and userWxno != ''"> and user_wxno = #{userWxno} </if>
		  		  <if test="userRole != null and userRole != ''"> and user_role = #{userRole} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="userStatus != null and userStatus != ''"> and user_status = #{userStatus} </if>
		  		  <if test="modifyDate != null and modifyDate != ''"> and modify_date = #{modifyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.irevest.niu.domain.InfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into user_info
		(
			`user_phoneno`, 
			`user_sex`, 
			`user_birthday`, 
			`user_image`, 
			`user_name`, 
			`password`, 
			`user_wxno`, 
			`user_role`, 
			`create_date`, 
			`user_status`, 
			`modify_date`, 
			`remark`
		)
		values
		(
			#{userPhoneno}, 
			#{userSex}, 
			#{userBirthday}, 
			#{userImage}, 
			#{userName}, 
			#{password}, 
			#{userWxno}, 
			#{userRole}, 
			#{createDate}, 
			#{userStatus}, 
			#{modifyDate}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.irevest.niu.domain.InfoDO">
		update user_info 
		<set>
			<if test="userPhoneno != null">`user_phoneno` = #{userPhoneno}, </if>
			<if test="userSex != null">`user_sex` = #{userSex}, </if>
			<if test="userBirthday != null">`user_birthday` = #{userBirthday}, </if>
			<if test="userImage != null">`user_image` = #{userImage}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="userWxno != null">`user_wxno` = #{userWxno}, </if>
			<if test="userRole != null">`user_role` = #{userRole}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="userStatus != null">`user_status` = #{userStatus}, </if>
			<if test="modifyDate != null">`modify_date` = #{modifyDate}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from user_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from user_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
