<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irevest.niu.dao.OrderDao">

	<select id="get" resultType="com.irevest.niu.domain.OrderDO">
		select `id`,`user_id`,`order_id`,`rob_status`,`proof_image`,`create_date`,`modify_date`,`remark` from rob_order where id = #{value}
	</select>

	<select id="list" resultType="com.irevest.niu.domain.OrderDO">
		select `id`,`user_id`,`order_id`,`rob_status`,`proof_image`,`create_date`,`modify_date`,`remark` from rob_order
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="robStatus != null and robStatus != ''"> and rob_status = #{robStatus} </if>
		  		  <if test="proofImage != null and proofImage != ''"> and proof_image = #{proofImage} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="modifyDate != null and modifyDate != ''"> and modify_date = #{modifyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from rob_order
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="robStatus != null and robStatus != ''"> and rob_status = #{robStatus} </if>
		  		  <if test="proofImage != null and proofImage != ''"> and proof_image = #{proofImage} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="modifyDate != null and modifyDate != ''"> and modify_date = #{modifyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.irevest.niu.domain.OrderDO" useGeneratedKeys="true" keyProperty="id">
		insert into rob_order
		(
			`user_id`, 
			`order_id`, 
			`rob_status`, 
			`proof_image`, 
			`create_date`, 
			`modify_date`, 
			`remark`
		)
		values
		(
			#{userId}, 
			#{orderId}, 
			#{robStatus}, 
			#{proofImage}, 
			#{createDate}, 
			#{modifyDate}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.irevest.niu.domain.OrderDO">
		update rob_order 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="robStatus != null">`rob_status` = #{robStatus}, </if>
			<if test="proofImage != null">`proof_image` = #{proofImage}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="modifyDate != null">`modify_date` = #{modifyDate}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from rob_order where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from rob_order where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
