<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.irevest.niu.dao.QustionOrderDao">

	<select id="get" resultType="com.irevest.niu.domain.QustionOrderDO">
		select `id`,`order_id`,`order_no`,`op_user`,`status`,`qustion_type`,`create_date`,`modify_date`,`remark` from qustion_order where id = #{value}
	</select>

	<select id="list" resultType="com.irevest.niu.domain.QustionOrderDO">
		select `id`,`order_id`,`order_no`,`op_user`,`status`,`qustion_type`,`create_date`,`modify_date`,`remark` from qustion_order
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="opUser != null and opUser != ''"> and op_user = #{opUser} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="qustionType != null and qustionType != ''"> and qustion_type = #{qustionType} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="modifyDate != null and modifyDate != ''"> and modify_date = #{modifyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from qustion_order
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="opUser != null and opUser != ''"> and op_user = #{opUser} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="qustionType != null and qustionType != ''"> and qustion_type = #{qustionType} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="modifyDate != null and modifyDate != ''"> and modify_date = #{modifyDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.irevest.niu.domain.QustionOrderDO">
		insert into qustion_order
		(
			`id`, 
			`order_id`, 
			`order_no`, 
			`op_user`, 
			`status`, 
			`qustion_type`, 
			`create_date`, 
			`modify_date`, 
			`remark`
		)
		values
		(
			#{id}, 
			#{orderId}, 
			#{orderNo}, 
			#{opUser}, 
			#{status}, 
			#{qustionType}, 
			#{createDate}, 
			#{modifyDate}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.irevest.niu.domain.QustionOrderDO">
		update qustion_order 
		<set>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="opUser != null">`op_user` = #{opUser}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="qustionType != null">`qustion_type` = #{qustionType}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="modifyDate != null">`modify_date` = #{modifyDate}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from qustion_order where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from qustion_order where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>